@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  body {
    @apply bg-white dark:bg-gray-900;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Transition styles */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

:root {
  --zsiq-seasonal-image-height: 70px;
}

body .zsiq-float {
  right: 10px !important; /* Override inline styles */
  bottom: 70px !important;
}

.siqico-chat:before {
  content: "" !important; /* Remove the existing glyph content */
  display: inline-block;
  width: 0; /* Prevent glyph from rendering */
  height: 0; /* Prevent glyph from rendering */
  vertical-align: middle; /* Align properly */
}
.siqico-chat {
  display: inline-flex;
  align-items: center;
}

.siqico-chat::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-headset"%3E%3Cpath d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"%2F%3E%3Cpath d="M21 16v2a4 4 0 0 1-4 4h-5"%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
